.main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    background: cornflowerblue;
    border-radius: 10px;
}
.calulation-section {
    min-height: 228px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: darkslategrey;
    padding: 15px;
}
.button-section {
    display: grid;
    gap: 10px
}
.button-section button {
    border-radius: 10px;
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.button-section > div {
    display: flex;
    gap: 10px;
}
.button-section .zero {
    width: 170px;
}